extends layout

block content
	.text_pages
		h1 
			center Welcome to the VA AMPREDICT Risk Calculator
		p The AMPREDICT Risk Calculator is designed to enhance patient care by Informing the patient specific and amputation level specific risks of mortality, reamputation, and mobility outcome at 1-year, in patients undergoing <strong>their</strong> first lower extremity amputation resulting from complications of peripheral artery disease and/or diabetes.
		p
			strong 
				font(size='+2') Patient Provider Benefits
			ul
				li Enhance amputation level patient/surgeon shared decision making
				li Improve patient knowledge and expectations
				li Improve communication between providers 


		p
			strong 
				font(size='+2') Proceed to Risk Calculator
			br
			#calc_pic_box
				a(href='/predictionModel')
					!= h.icon('calculator')
					strong 
						center Click Me


	
		p
			strong
				font(size='+2') Ampredict Development and Validation
			p AMPREDICT mortality and reamputation prediction models, which inform the AMPREDICT Risk Calculator, were developed in a national sample of over 5,000 veterans undergoing their first major (transmetatarsal, transtibial, or transfemoral) dysvascular lower extremity amputation, while the mobility prediction model was developed prospectively on a cohort of over 200 amputees. Details of the development and validation of the prediction models can be seen in the following 
				a(href="https://www.ncbi.nlm.nih.gov/pubmed/?term=ampredict+mobility") peer reviewed publications.

		p
			p
			i
				strong Disclaimer (Please Read)
					ul
						li
							font(size='-2') Note the risk percentages provided to you by the AMPREDICT Risk Calculator are estimates.
						li
							font(size='-2') This decision support tool is intended for PROVIDER use only.
						li
							font(size='-2') Additional clinical information may modify the actual risks of each outcome.
