extends layout

block content
	.text_pages
		center
			h1 AMPREDICT

		p
			font(size='4.5rem') Mr. Smith is a 72-year-old White male. He is currently unmarried and has graduated high school. He has been previously diagnosed with COPD. He does not require assistance of nursing care, equipment or devices. Mr. Smith does not smoke or misuse alcohol, and currently rates his health as “good.” Other pertinent medical information can be found in the medical record below. 
		center
			p
				strong
					font(size='4.5rem') Mr. Smith Medical Record Information
			table#temp_table
				tr
					td
						strong Age
					td 72
				tr
					td
						strong Gender
					td Male
				tr
					td
						strong Race
					td White
				tr
					td
						strong Married
					td No
				tr
					td
						strong Education
					td High school or more
				tr
					td
						strong Height
					td 69
				tr
					td
						strong Weight
					td 203
				tr
					td
						strong Smoker
					td No
				tr
					td
						strong Alcohol misuse
					td No
				tr
					td
						strong Functional status
					td Independent
				tr
					td
						strong Self-rated Health
					td Good
				tr
					td
						strong Tx for anxiety/depression
					td No
				tr
					td
						strong CHF
					td No
				tr
					td
						strong Dialysis
					td No
				tr
					td
						strong Diabetes
					td No
				tr
					td
						strong Revascularization
					td No
				tr
					td
						strong COPD
					td Yes
				tr
					td
						strong BUN
					td 15
				tr
					td
						strong Platelets
					td 250000
				tr
					td
						strong WBC >11,000
					td 52
				tr
					td
						strong eGFR<15
					td No
				tr
					td
						strong Outpatient Anticoagulants
					td No
				tr

		br
		center
				.tooltip
					span.tooltiptext In the risk calculator, you can also click other tabs to see how Ms. Smith’s predicted risks change with varied health factors.
					a(href='https://amp-risk-calc.herokuapp.com/')
						#calc_pic_box2
							#inside_the_pic_box
								!= h.icon('calculator')
							p Click here if you would like to visit our DEMO Risk Calculator website that includes examples patients

		p
			strong
				center
					font(size='5rem') What amputation level would you choose if you were Ms. Smith's surgeon?
		//- p
		//- 	strong
		//- 		font(size='+2') Risk Calculator Parameters
		//- 	p
		//- 		font(size='4.5rem') The calculator is only applicable to Veteran amputees who:
		//- 	ul
		//- 		font(size='4.5rem')
		//- 			li Are 40 years old or older
		//- 			li Have not had a previous amputation at or above the transmetatarsal amputation level
		//- 			li Require their amputation because of diabetes and/or peripheral arterial disease
		//- p
		//- 	i
		//- 		strong
		//- 			font(size='-1') This decision support tool is intended for PROVIDER use only. The risk percentages provided to you by the AMPREDICT Risk Calculator are estimates. Additional clinical information may modify the actual risks of each outcome.
