extends layout

block content
	.text_pages
		center
			h1 AMPREDICT
			font(size='6 rem') 
				i VA Amputation Level Decision Support Tool
		//- p
		//- 	font(size='4.5rem') The AMPREDICT Decision Support Tool is a risk calculator designed to enhance patient care by informing patient specific 1-year risks of mortality, reamputation, and mobility by amputation level, in patients undergoing their <strong>first</strong> lower extremity amputation resulting from complications of peripheral artery disease and/or diabetes.
		//- p
		//- 	strong 
		//- 		font(size='+2') Patient Provider Benefits
		//- 	ul
		//- 		font(size='4.5rem')
		//- 			li Enhance patient/surgeon shared decision making around amputation level selection
		//- 			li Improve patient knowledge and expectations
		//- 			li Improve communication among providers 

		//- center
		//- 	#calc_pic_box
		//- 		.tooltip
		//- 			span.tooltiptext This decision support tool is intended for PROVIDER use only. The risk percentages provided to you by the AMPREDICT Risk Calculator are estimates. Additional clinical information may modify the actual risks of each outcome.
		//- 			a(href='/predictionModel')
		//- 				!= h.icon('calculator')
		//- 				strong
		//- 					center 
		//- 						font(size='+1') Risk Calculator

		//- p
		//- 	strong
		//- 		font(size='+2') Risk Calculator Parameters
		//- 	p
		//- 		font(size='4.5rem') The calculator is only applicable to Veteran amputees who:
		//- 	ul
		//- 		font(size='4.5rem')
		//- 			li Are 40 years old or older
		//- 			li Have not had a previous amputation at or above the transmetatarsal amputation level
		//- 			li Require their amputation because of diabetes and/or peripheral arterial disease
		//- p
		//- 	i
		//- 		strong
		//- 			font(size='-1') This decision support tool is intended for PROVIDER use only. The risk percentages provided to you by the AMPREDICT Risk Calculator are estimates. Additional clinical information may modify the actual risks of each outcome.
		p 
			font(size='4.5rem') The AMPREDICT Decision Support Tool is a risk calculator designed to enhance patient care by informing patient specific 1-year risks of: 

		ul
			font(size='4.5rem') 
				li Mortality
				li Reamputation
				li Mobility

		p 
			font(size='4.5rem') This tool enhances patient and surgeon shared decision making around amputation level selection. 

		center
			strong
				font(size='6rem')
					a(href='/index2_temp') View a patient profile to compare the 1-year risks of mortality, reamputation and mobility
		br
		.pic_side_by_side
			.left_side_pic
				img.rounded-edges(src='/images/photos/TM_j.jpg')
				p 
					font(size='4.5rem') Transmetatarsal (mid-foot) amputation
			.pic_words
				strong
					font(size='6rem') vs.
			.right_side_pic
				img.rounded-edges(src='/images/photos/TT Amp.png')
				p
					font(size='4.5rem') Transtibial (below-knee) amputation
