extends layout

block content
	.text_pages
		center
			h1 AMPREDICT
			font(size='6 rem') 
				i VA Amputation Level Decision Support Tool
		p
			font(size='4.5rem') The AMPREDICT Risk Calculator is designed to enhance patient care by informing patient specific 1-year risks of mortality, reamputation, and mobility by amuptation level, in patients undergoing their <strong>first</strong> lower extremity amputation resulting from complications of peripheral artery disease and/or diabetes.
		p
			strong 
				font(size='+2') Patient Provider Benefits
			ul
				font(size='4.5rem')
					li Enhance patient/surgeon shared decision making around amputation level
					li Improve patient knowledge and expectations
					li Improve communication among providers 

		center
			#calc_pic_box
				.tooltip
					span.tooltiptext This decision support tool is intended for PROVIDER use only. The risk percentages provided to you by the AMPREDICT Risk Calculator are estimates. Additional clinical information may modify the actual risks of each outcome.
					a(href='/predictionModel')
						!= h.icon('calculator')
						strong
							center Risk Calculator

		p
			strong
				font(size='+2') Ampredict Development and Validation
			font(size='4.5rem')
				p AMPREDICT mortality and reamputation prediction models, which inform the AMPREDICT Risk Calculator, were developed in a national sample of over 5,000 veterans undergoing their first major (transmetatarsal, transtibial, or transfemoral) dysvascular lower extremity amputation; the mobility prediction model was developed prospectively on a cohort of over 200 amputees. Details of the development and validation of the prediction models can be seen in the following peer-reviewed publications: 
					a(href="https://www.ncbi.nlm.nih.gov/pubmed/27751738") Mobility, 
					a(href="https://www.ncbi.nlm.nih.gov/pubmed/31134619") Reamputation, and 
					a(href="https://www.ncbi.nlm.nih.gov/pubmed/30865292") Mortality.


		p
			i
				strong
					font(size='-1') This decision support tool is intended for PROVIDER use only. The risk percentages provided to you by the AMPREDICT Risk Calculator are estimates. Additional clinical information may modify the actual risks of each outcome.
