extends layout

block content
	.text_pages
		center
			h1 AMPREDICT
			font(size='4 rem') 
				i VA Amputation Level Decision Support Tool
		br
		.pic_side_by_side
			.left_side_pic
				p 
					strong
						font(size='5rem') Informs patient and amputation level-specific 1-year risks of: 
				ul
					font(size='4.5rem') 
						li Mortality
						li Reamputation
						li Mobility
			.right_side_pic
				center
					//- .tooltip
					//- 	span.tooltiptext In the risk calculator, you can also click other tabs to see how Ms. Smith’s predicted risks change with varied health factors.
					a(href='/disclaimer')
						#calc_pic_box2
							#inside_the_pic_box
								!= h.icon('calculator')
							p Click to see the Risk Calculator


		//- center
		//- 	strong
		//- 		font(size='6rem')
		//- 			a(href='/index2_temp') Click here
		//- 			|  to view a patient profile to compare the 1-year risks of mortality, reamputation and mobility.
		br
		.pic_side_by_side
			.left_side_pic
				p
					strong
						font(size='5rem') Patient Eligibility:
				ul
					font(size='4.5rem') 
						li Undergoing their first major lower extremity amputation, at or above the transmetatarsal level
						li Prior toe or ray amputations are not exclusionary
						li Require an amputation because of diabetes and/or peripheral arterial disease
						li Are 40 years old or older
			.right_side_pic
				p
					strong
						font(size='5rem') Patient & Provider Benefits:
				ul
					font(size='4.5rem')
						li Enhances patient/surgeon shared decision-making around amputation level selection
						li Improves patient knowledge and expectations
						li Facilitates communication among providers by informing common outcome expectations
		p
			i
				strong This decision support tool is intended for PROVIDER use only. The risk percentages provided to you by the AMPREDICT Risk Calculator are estimates. Additional clinical information may modify the actual risks of each outcome.
