extends layout

block content
	.inner
		div(style='height:200px; width: 50%;')
			.title_heading
				h1 Welcome
		
			h1.calibri AMPREDICT Risk Calculator
			p.calibri This calculator predicts the patients 1-year risk of mortality and reamputation as well as the probably level of achieving basic and advanced mobility after a <b>FIRST</b> major LEA (Lower Extremity Amputation).  These risk calculators have been developed in the VA population and successfully validated (add references later).
			p.calibri The calculator assumes that the patient is 40 years or older and has a diagnosis of peripheral artery disease or diabetes who is undergoing their first unilateral major LEA defined as a midfoot/transmetatarsal, transtibial, or transfemoral amputation. <i>(If this is a second major LEA of the same lower extremity, a contralateral amputation after a prior major LEA, or a bilateral amputation, the calculator is not valid.)</i>
			p.calibri
				font(size='+1.5') <b>The average risk of mortality in this patient population is 26.5% </b>
			p.calibri This calculator produces a risk of mortality within the first year. It also provides a <b>“high”</b>, <b>“medium”</b>, or <b>“low”</b> risk of mortality based on the full distribution of patients in the study sample.
			p.calibri 
				font(color='red') Once a patient’s mortality risk has been established, the reamputation and mobility calculators can be used to determine the most appropriate level of amputation for the individual, balancing their preferences with their risks.