extends layout

include mixins/_predictionModelForm

block content
	#pred_model
		//- ul#progressbar
		//- 	li.active Demographics
		//- 	li Comorbidities
		//- 	li Lab Values
		//- 	li Health Factors
		if errors
			ul
				strong ERRORS:
				for error in errors
					li!= error.msg

		+predictionModelForm()