extends layout

include mixins/_predictionModelForm

block content
	.inner
		div(style='width: 60%; float:left;')
			h2 
				center #{title}
			if errors
				ul
					strong ERRORS:
					for error in errors
						li!= error.msg

			+predictionModelForm()