extends layout

include mixins/_predictionModelForm

block content
	.risk_calc
		div(style='width: 100%;')
			if errors
				ul
					strong ERRORS:
					for error in errors
						li!= error.msg

			+predictionModelForm()