input, textarea {
  padding:10px;
  border: 1px solid $grey;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

label {
  padding: 10px 0;
  display: block;
}

.form {
  background: white;
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}

.form_section {
  //outline: 1px dotted #1C6EA4;
  margin: auto;
  width: 100%;
}

.radio_align {
  //outline: 1px dotted #1C6EA4;
  margin-left: 40px;
}

.radio_align_functional_status {
  //outline: 1px dotted #1C6EA4;
  text-align: center;
}

.lab_number_box_align {
  //outline: 1px dotted #1C6EA4;
  //width: 50%;
  //text-align: right;
}

.bmi_align {
  //outline: 1px dotted #1C6EA4;
}