.alert-danger {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 50%;
	margin-left: 200px;
}

.text-center {
    text-align: center;
}

.calibri {
	font-family: Calibri;
}

.results_frame {
	width: 800px;
	border: 1px solid black;
}

.thermometer {
	width : 400px;
	height: 40px;
	border: 2px solid black;
	margin-left: 200px;
	border-radius: 15px;
}




