.table {
  font-family: sans-serif;
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  /*font-size: 1.59rem; */
  margin: auto;

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 2px;
  }
  th {
    background-color: rgb(235,235,235);
  }
  td {
    text-align: center;
  }
  tr:nth-child(even) td{
    background: white;
  }
  tr:nth-child(odd) td  {
    background: white;
  }
  thead{
    font-family: Calibri;
  }
  tbody {
    background: white;
    font-family: Calibri;
    font-size: 90%;
    font-style: italic;
  }
  tfoot {
    font-weight: bold;
  }


}

.table_s {
  font-family: sans-serif;
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  column-width: 200px;

}

.table_frame_s {
  text-align: center;
  /*outline: 1px dotted #1C6EA4;*/
  background: white;
  /*width: 500px;*/
/*  margin: auto;
  padding-right: 10px;
  margin-top: 2rem;*/
  border-radius: 20px;

}